<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         verbose="true"
         failOnRisky="true"
         failOnWarning="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false"
         executionOrder="random"
         resolveDependencies="true"
         backupGlobals="false"
>
    <php>
        <ini name="error_reporting" value="-1"/>
    </php>

    <coverage>
        <include>
            <directory>./src</directory>
        </include>
    </coverage>
    <testsuites>
        <testsuite name="Mssql">
            <directory>./tests/Mssql/</directory>
        </testsuite>
        <testsuite name="Mysql">
            <directory>./tests/Mysql/</directory>
        </testsuite>
        <testsuite name="Oracle">
            <directory>./tests/Oracle/</directory>
        </testsuite>
        <testsuite name="Pgsql">
            <directory>./tests/Pgsql/</directory>
        </testsuite>
        <testsuite name="Sqlite">
            <directory>./tests/Sqlite/</directory>
        </testsuite>
    </testsuites>
</phpunit>
